@import "tailwindcss";
@tailwind utilities;

@layer utilities {
  .animate-border-glow {
    position: relative;
  }

  .animate-border-glow::before,
  .animate-border-glow::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background: linear-gradient(90deg, #ff6e00, #ffa500, #ff6e00);
    background-size: 200% 100%;
    border-radius: 9999px;
    z-index: -1;
    animation: moveGradient 2s linear infinite;
  }

  .animate-border-glow::after {
    filter: blur(8px);
    opacity: 0.6;
  }

  @keyframes moveGradient {
    0% { background-position: 0% 50%; }
    100% { background-position: 200% 50%; }
  }
}

body {
  background-color: #09090b;
  color: #e0e0e0;
  font-family: Inter Variable,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}

.bg-gray-900 {
  --un-bg-opacity:1;
  background-color: #18181b;
}

.bg-primary {
  --un-bg-opacity:1;
  background-color: #09090b;
}

.border-primary {
  border-color: #ff6e00;
}

.toast-progress-orange .Toastify__progress-bar {
  background-color: #ff6e00;
}